.iat{
    color: black;
    font-size: larger;
    position: absolute;
    top: 10%;
    right: 3%;
    font-style: bold;
}
.fuelUsed{
    color: black;
    font-size: larger;
    position: absolute;
    top: 15%;
    right: 3%;
    font-style: bold;
}
.frontBrakePress{
    color: black;
    font-size: larger;
    position: absolute;
    top: 20%;
    right: 3%;
    font-style: bold;
}